<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">Home</a>
    <br>
    <form action="/cars" method="post">
        Car name: <input type="text" name="car_name"><br>
        Year of production: <input type="text" name="year"><br>
        Is the car in stock: <input type="text" name="in_stock"><br>
        

        <button type="submit">Create entry</button>
    </form>
</body>
</html>
