<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">Home</a>
    <h2>Viewing student with index number #<%= user.id %></h2>
    <p><%= user.name %></p>
    <p><%= user.lastname %></p>
    <p><%= user.email %></p>
  </body>
</html>
